
<form [formGroup]='user' (ngSubmit)='onSubmit()' class="ui form segment login">
    <h2 class="ui dividing header">Login</h2>    
    <div class="field">
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName='username'>
    </div>
    <div class="field">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName='password'>
    </div>
    <button type='submit' [disabled]='!user.valid' class="ui primary right floated button">log in</button>
    <div *ngIf='errorMsg' class='ui red label'>{{errorMsg}}</div>
  </form>


