<form class="ui large form segment error" [formGroup]='journey' (ngSubmit)='onSubmit()'> 
    <h2 class="ui header">Your review:</h2>
    <div class="field"> 
      <textarea id="resume_id" formControlName="resume" value="{{resumeText}}"></textarea>
      <div *ngIf='journey.get("resume").errors?.required && journey.get("resume").touched'
      class='ui pointing red basic label'>
      review is required
      </div>
    </div>
    
    <button type='submit' [disabled]="!journey.valid" class="ui primary button">Save</button>
    <button class="ui button" type="cancel" (click)="onCancel()">Cancel</button>
  </form> 
  
  
  
  